.redhead{
    color: red;
}

.greenhead{
    color:chartreuse;
    
}
.head2{
    color: red;
}

.format{
    color:brown;
    letter-spacing: 5px;
}
.large{
    color: brown;
    font-size: large;
}
.small{
    color: brown;
    font-size: x-small;
}
.itallic{
    color: brown;
    font-style: italic;
}
.mark{
    color: red;
}
a{
    text-decoration: none;
}